<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Answer</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <main id="main" class="main">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <div class="pagetitle">
                            <h1>Update Answer</h1>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item">FAQ</li>
                                    <li class="breadcrumb-item active">Update Answer</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- End Page Title -->
    
                        <section class="section">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Update Answer</h5>
                                    <% console.log(data._id ,"djih pushpu"); %>
    
                                    <form action="/admin/user/faq/updated-message/<%= data._id %>" method="POST" >
                                       
                                        <div class="form-group">
                                            <label for="answer">New Answer</label>
                                            <input type="text" class="form-control" id="answer" value="<%= data.answer %>" name="answer" required>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- End #main -->
    
        <!-- Bootstrap JS and dependencies -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
    
</body>
</html>